#body{
    background-color: #e0e4cc;
}
#titulos{
    text-align: center;
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#imagenes{
    width: 450px;
    height: 450px;
}
#letras{

}